---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Projects from '../components/Projects.astro'
---

<Layout title='Portfolio'>
  <Header />
  <main class='flex grow flex-col gap-5 mt-5'>
    <h1 class='text-xl font-medium'>Proyectos</h1>
    <Projects />
  </main>
</Layout>
